.footer {
    background-color: black;
    color:white;
    clear: both;
}

#aside {
    margin: 0 auto;
    float: left;
    width: 29%;
}

#article {
    float: left;
    width: 69%;
}

#article_list {
    clear: both;
}

#page_list {
    clear: both;
}
