<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sucaiji.dao.CommentDao">
    <select id="selectCommentById" resultType="com.sucaiji.entity.Comment">
        SELECT * FROM COMMENT WHERE article_id=#{articleId}
    </select>

    <insert id="insertComment" parameterType="com.sucaiji.entity.Comment">
        INSERT INTO COMMENT(content,time,article_id,user_id) VALUES (#{content},#{time},#{articleId},#{userId})
    </insert>

    <delete id="delectByArticleId" parameterType="Integer">
        DELETE FROM COMMENT WHERE article_id=#{articleId}
    </delete>
</mapper>